.banner {
  color: white;
  object-fit: contain;
  background-size: cover;
  height: 448px;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 360px;
  height: 80px;
}

.banner_button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.banner_button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner_fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

/* Media Query */
@media only screen and (max-width: 548px) {
  .banner {
    height: 308px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .banner_contents {
    /* margin-left: 30px; */
    padding-top: 100px;
    height: 150px;
  }

  .banner_title {
    font-size: 2rem;
  }

  .banner_description {
    width: 40rem;
    line-height: 1.3;
    height: 70px;
  }
}

@media only screen and (max-width: 390px) {
  .banner_contents {
    /* margin-left: 30px; */
    padding-top: 50px;
    height: 80px;
    padding-top: 100px;
  }

  .banner_title {
    font-size: 1.5rem;
  }

  .banner_description {
    width: 15rem;
    line-height: 1.3;
    height: 50px;
    font-size: 0.7rem;
  }
}
